<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- FontAwesome -->
  <script src="https://use.fontawesome.com/70e3adc164.js"></script>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
    
<header>
    <ul class="main-nav">
        <li><%= link_to 'Welcome', root_path %></li>
        <li><%= link_to 'Portfolio', '/portfolio' %></li>
        <li><%= link_to 'Blog', 'https://medium.com/@dexter36', target: "_blank" %></li>
        <li><%= link_to 'About', '/about' %></li>
        <li><%= link_to 'Contact', '/contact' %></li>
        <li>Alexandre Mouton-Brady</li>
    </ul>    
</header>

<%= yield %>

<footer class="main-footer">
    <ul>
        <li><%= link_to 'Github', 'https://github.com/alexandre-mouton-brady', target: '_blank' %></li>
        <li><%= link_to 'Twitter', 'https://twitter.com/dextr36', target: '_blank' %></li>
        <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/alexandre-mouton-brady-727518119', target: '_blank' %></li>
        <li>&copy; Alexandre Mouton-Brady</li>
    </ul>
</footer>

</body>
</html>
